@charset "UTF-8";

body {
	font-family: Arial;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
}

.container {
	display: grid;
	border: 1px solid black;
	grid-template-columns: [first] 5%[line2] 50%[line3] 20%[col4-start] 25%[end];
	grid-template-rows: [row1-start] 5%[row1-end] 5%[third-line] 25%[fourth-line]25%[fifth-line] 25%[sixth-line] 15%[last-line];
}

.brett {
	border: 1px solid orange;
	grid-column-start: 2;
	grid-column-end: line3;
	grid-row-start: row1-end;
	grid-row-end: last-line;
}

.spillertur {
	border: 1px solid pink;
	grid-column-start: 3;
	grid-column-end: col4-start;
	grid-row-start: row1-start;
	grid-row-end: row1-end;
}

.terningTrill {
	border: 1px solid cyan;
	grid-column-start: 3;
	grid-column-end: col4-start;
	grid-row-start: third-line;
	grid-row-end: last-line;
}

/*.terninger {
	border: 1px solid green;
	grid-column-start: 3;
	grid-column-end: col4-start;
	grid-row-start: third-line;
	grid-row-end: sixth-line;
}

.trill {
	border: 1px solid blue;
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: third-line;
	grid-row-end: fourth-line;
}*/

.marker {
	border: 1px solid purple;
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: fourth-line;
	grid-row-end: fifth-line;
}

.trillTerning {
	border: 1px solid red;
	grid-column-start: 4;
	grid-column-end: end;
	grid-row-start: fifth-line;
	grid-row-end: sixth-line;
}

.check_box {
	display: none;
}

.check_box + label {
	background: url('img/t1.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
	padding: 0 0 0 0px;
}

.check_box:checked + label{
        background:url('img/t1.png') no-repeat;
        border: 2px solid green;
    	height: 16px;
    	width: 16px;
    	display:inline-block;
        padding: 0 0 0 0px;
    }