<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" id="WebApp_ID"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>Yatzy</display-name>
	<welcome-file-list>
		<welcome-file>registrer</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>registrer</servlet-name>
		<servlet-class>no.hvl.dat109.registreringOgLogin.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>no.hvl.dat109.registreringOgLogin.RegistrationServlet</servlet-name>
		<url-pattern>/registrer</url-pattern>
	</servlet-mapping>


</web-app>